<div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="section-title text-center">Mise à jour de la réalisation</h2>

          <!-- Form for active_storage -->
            <div class="space30"></div>
            <p class="lead text-center">Ajouter la photo de la vignette</p>
              <%= form_tag dashboard_project_thumbnails_path(@project), multipart: true do %>
                <%= file_field_tag :thumbnail %>
                <%= submit_tag "Ajouter",  class: 'btn btn-oasis' %>
              <% end %>


            <%if @project.thumbnail.attached?%>
                <%= image_tag @project.thumbnail %> <br />
            <%else%>
              <p>=== Veuillez choisir une miniature pour cette réalisation ===</p>
            <%end%>

            
            <div class="space50"></div>

            <div class="space30"></div>
            <p class="lead text-center">Ajouter les photos du diaporama</p>
              <%= form_tag dashboard_project_pictures_path(@project), multipart: true do %>
                <%= file_field_tag :pictures %>
                <%= submit_tag "Ajouter",  class: 'btn btn-oasis' %>
              <% end %>

            <%if @project.pictures.attached?%>
              <% @project.pictures.each do |image| %>
                <%= image_tag image %> <br />
              <% end %>
            <%else%>
              <p>=== Veuillez choisir au minimum 3 photos pour le diaporama de cette réalisations ===</p>
            <%end%>

            <div class="space50"></div>

          <!-- /Form for active_storage -->

          <p class="lead text-center">Pour éditer les informations, remplir le formulaire ci-dessous</p>
          <div class="space40"></div>
          <h6><b>Titre de la réalisation<b></h6>
          <%= form_with model: @project, url: dashboard_project_path, local: true do |f| %>
            <%= f.text_field :title, class:"form-control", placeholder: "Titre" %>
            <div class="space30"></div>
            <h6><b>Description<b></h6>
            <%= f.text_area :description, class:"form-control", placeholder: "Description" %>
            <div class="space30"></div>
            <h6><b>Contenu<b></h6>
            <%= f.text_area :content, class:"form-control", placeholder: "Contenu" %>
            <div class="space30"></div>
            <h6><b>Date de la réalisation<b></h6>
            <%= f.text_field :date, class:"form-control", placeholder: "31-12-2019" %><br>
            <br>
            <%= f.submit "Editer la réalisation", class: 'btn btn-oasis' %>
             <% end %>   
           </div>
    </div>
</div>
