<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Réalisations</li>
    <li class="breadcrumb-item">
      <%= link_to 'Voir la page Réalisations du site', projects_path %></a>
    </li>
  </ol>

  <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <h2 class="section-title text-center">Mes réalisations</h2>
          <p align ="center"><%= link_to "Créer une nouvelle réalisation", new_dashboard_project_path, class:"btn btn-success" %></p>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Créée le</th>
                    <th>Modifiée le</th>
                    <th>Statut</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                  </tr>
                </thead>
                  <% @projects.each do |project| %>
                    <tr>
                      <td><%= project.title %>  </td>
                      <td>Admin n°<%= project.admin.id %> </td>
                      <td><%= project.created_at.strftime("%d/%m/%Y") %> </td>
                      <td><%= project.updated_at.strftime("%d/%m/%Y") %> </td>
                      
                        <%if project.published %>
                          <td>En ligne</td>
                        <%else%>
                          <td>Hors ligne</td>
                        <%end%>
                      
                        <%if project.admin == current_admin %>
                          
                          <td><%= link_to edit_dashboard_project_path(project.id) do %>
                              <i class="fa fa-edit fa-2x d-flex justify-content-center"></i>
                            <%end%>
                          </td>
                          
                          <td><%= link_to dashboard_project_path(project.id), data: {confirm: "Êtes-vous sûr.e de vouloir supprimer cette réalisation à tout jamais ?"}, method: :delete do %>
                              <i class="fa fa-trash fa-2x d-flex justify-content-center"></i>
                            <%end%>
                          </td>
                        <%else%>
                        <td><%= link_to "Editer", edit_dashboard_project_path(project.id), class:"btn btn-info disabled" %></td>
                        <td><%= link_to "Supprimer", dashboard_project_path(project.id), class:"btn btn-danger disabled",  data: {confirm: "Êtes-vous sûr.e de vouloir supprimer cette réalisation à tout jamais ?"}, method: :delete %></td>
                      </tr>
              <%end%>
            <%end%>
          </table>
      </div>
    </div>
  </div>
</div>
