<div class="wrapper gray-wrapper">
      <% if @project.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n avons pas réussi à créer le projet pour la (ou les) raison(s) suivante(s) :</p>
          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>	
      </div>
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="section-title text-center">Nouvelle réalisation</h2>
          <p class="lead text-center">Remplir le formulaire ci-dessous</p>
          <div class="space40"></div>
          <h6><strong>Titre de la réalisation<strong></h6>   
            <%= form_with model: @project, url: dashboard_projects_path, local: true do |f| %>
            <%= f.text_field :title, class:"form-control", placeholder: "Titre" %>
            <div class="space30"></div>
            <h6><strong>Description<strong></h6>
            <%= f.text_area :description, class:"form-control", placeholder: "Description (en 1 phrase)" %>
            <div class="space30"></div>
            <h6><strong>Contenu<strong></h6>
            <%= f.text_area :content, class:"form-control", placeholder: "Contenu" %>
            <div class="space30"></div>
            <h6><strong>Date de la réalisation<strong></h6>
            <%= f.text_field :date, class:"form-control", placeholder: "31-12-2019" %><br>
            <div class="space30"></div>
            <h6><strong>Catégorie(s) de la réalisation<strong></h6>

            <% @categories.each do |cat| %> 
              <div class="custom-control custom-checkbox">
               <%= check_box_tag('project[category_ids][]', 'cat.id', false, class: 'custom-control-input') %>
                <label class="custom-control-label" for="customCheck1"><%= cat.category_name %></label>
              </div>
            <%end%>

            <br>
            <%= f.submit "Créer la réalisation",  class: 'btn btn-ice home-header-font' %>
             <% end %>   
          <div class="space30"></div>          
        </div>
    </div>
</div>
