<div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="section-title text-center">Nouveau project</h2>
          <p class="lead text-center">Remplir le formulaire ci-dessous</p>
          <div class="space40"></div>
          <h6>Titre du projet</h6>
          <%= form_with model: @project, url: dashboard_projects_path, multipart: true do |f| %>
            <%= f.text_field :title, class:"form-control", placeholder: "Titre" %>
            <div class="space30"></div>
            <h6>Description</h6>
            <%= f.text_area :description, class:"form-control", placeholder: "Description" %>
            <div class="space30"></div>
            <%= file_field_tag :pictures %><br>
            


           
            <div class="space40"></div>
            <%= f.submit "Create" %>
             <% end %>
                    
          <div class="space30"></div>
          
        </div>
    </div>
</div>
