<!-- /.wrapper -->
<div class="wrapper dark-wrapper">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center">Ils nous ont fait confiance</h2>
    <div class="swiper-container-wrapper swiper-col6" data-aos="fade">
      <div class="swiper-container text-center">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c1.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c2.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c3.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c4.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c5.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c6.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c7.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c8.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c9.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c10.png") %>" alt="" /></div>
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.swiper-container -->
      <div class="swiper-pagination gap-large"></div>
    </div>
    <!-- /.swiper-container-wrapper -->
  </div>
  <!-- /.container -->
</div>
