<!-- /.wrapper -->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center resize-home-titles">Ils nous ont fait confiance</h2>
    <div class="space40"></div>
    <div class="swiper-container-wrapper swiper-col6" data-aos="fade">
      <div class="swiper-container text-center">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><%= image_tag('clients/client1.png', class:'client-logo-resize', alt:'')%></div>
          <div class="swiper-slide"><%= image_tag('clients/client2.png', class:'client-logo-resize', alt:'')%></div>
          <div class="swiper-slide"><%= image_tag('clients/client3.png', class:'client-logo-resize', alt:'')%></div>
          <div class="swiper-slide"><%= image_tag('clients/client4.png', class:'client-logo-resize', alt:'')%></div>
          <div class="swiper-slide"><%= image_tag('clients/client5.png', class:'client-logo-resize', alt:'')%></div>
          <div class="swiper-slide"><%= image_tag('clients/client6.png', class:'client-logo-resize', alt:'')%></div>
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.swiper-container -->
      <div class="swiper-pagination gap-large"></div>
    </div>
    <!-- /.swiper-container-wrapper -->
  </div>
  <!-- /.container -->
</div>
