<div id="realisation" class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center resize-home-titles">Nos principales réalisations</h2>
    <h2 class="section-title text-center">Sous-titre</h2>
    <div class="blog grid image-grid grid-view boxed tiles tiles-m">
      <div class="row isotope items">
        <% @projects.limit(3).each do |project| %>
          <div class="item post grid-sizer col-md-6 col-lg-4">
            <% if project.thumbnail.attached?%>
              <figure class="overlay overlay4 img-fixed-size">
                <%= link_to project_path(project.id) do %>
                <%= image_tag project.thumbnail, alt:'miniature' %>
                <figcaption class="d-flex text-left">
                  <div class="align-self-end mt-auto">
                    <h2 class="post-title"><%=project.title%></h2>
                  </div>
                </figcaption>
                <%end%>
              </figure>
            <%else%>
              <figure class="overlay overlay4 img-fixed-size">
                <%= link_to project_path(project.id) do %>
                <%= image_tag('realisations/fond.jpg', alt:'') %>
                <figcaption class="d-flex text-left">
                  <div class="align-self-end mt-auto">
                    <h2 class="post-title"><%=project.title%></h2>
                  </div>
                </figcaption>
                <%end%>
              </figure>
            <%end%>
          </div>
          <!--/.post -->
        <%end%>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.blog -->
    <div class="space20"></div>
    <div class="text-center"><%= link_to "En savoir plus", projects_path, class:"btn btn-full-rounded btn-ice" %></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
