<!-- /.rev_slider_wrapper -->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center">Notre association</h2>
    <h2 class="section-title text-center">We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</h2>
    <div class="space40"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="space10"></div>
        <div class="row">
          <div class="col-md-5">
            <figure><img src="<%= image_path("logos/about_us.jpg") %>" alt=""></figure>
          </div>
          <div class="col-md-7">
            <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <div class="space60"></div>
    <!-- <h2 class="title-color color-default mb-20 text-center">Nos missions</h2> -->
    <div class="row">
      <div class="col-md-4">
        <h4>Mission 1</h4>
        <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
        <ol>
          <li>Vivamus sagittis lacus vel augue laoreet.</li>
          <li>Cras mattis consectetur purus sit amet.</li>
          <li>Vestibulum id ligula porta felis euismod.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ol>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 2</h4>
        <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus.</p>
        <ul class="unordered-list list-salmon">
          <li>Donec ullamcorper nulla non metus auctor.</li>
          <li>Cras justo odio, dapibus ac facilisis.</li>
          <li>Praesent commodo cursus magna.</li>
          <li>Curabitur blandit tempus porttitor.</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 3</h4>
        <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
        <ol>
          <li>Vivamus sagittis lacus vel augue laoreet.</li>
          <li>Cras mattis consectetur purus sit amet.</li>
          <li>Vestibulum id ligula porta felis euismod.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ol>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space20"></div>
    <div class="text-center"><a href="#" class="btn btn-full-rounded btn-salmon">Nous contacter</a></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Notre équipe</h2>
    <div class="swiper-container-wrapper swiper-col4" data-aos="fade">
      <div class="swiper-container text-center">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="mb-20"> <img src="<%= image_path("team/steve.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Steeve Voccia</h5>
            <div class="meta">Expert porcin</div>
            <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui consectetur.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/romane.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Romane Charraud</h5>
            <div class="meta">Expert buse</div>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor adipiscing elit.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/lucas.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Lucas Bischoff</h5>
            <div class="meta">Expert nuit</div>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/martin.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Martin Bondonneau</h5>
            <div class="meta">Expert pixel</div>
            <p>Fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
        </div>
        <!-- .swiper-wrapper -->
      </div>
      <!-- .swiper-container -->
      <div class="swiper-pagination gap-large"></div>
    </div>
    <!-- .swiper-container-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="<%= image_path("parallax/parallax1.jpg") %>">
  <div class="container inner pt-20 pb-20">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="swiper-container-wrapper basic-slider">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <blockquote class="icon larger icon-bottom">
                  <p>Consectetur adipiscing elit. Duis mollis, est non commodo luctus gestas eget quam integer. Curabitur blandit tempus rutrum faucibus.</p>
                  <footer class="blockquote-footer">Connor Gibson</footer>
                </blockquote>
              </div>
              <!-- /.swiper-slide -->
              <div class="swiper-slide">
                <blockquote class="icon icon-top larger">
                  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio.</p>
                  <footer class="blockquote-footer">Coriss Ambady</footer>
                </blockquote>
              </div>
              <!-- /.swiper-slide -->
              <div class="swiper-slide">
                <blockquote class="icon icon-top larger">
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis.</p>
                  <footer class="blockquote-footer">Barclay Widerski</footer>
                </blockquote>
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper-container -->
          <div class="swiper-pagination gap-small"></div>
        </div>
        <!-- .swiper-container-wrapper -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="section-title mb-40 text-center">Notre matériel</h2>
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist"> <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab">Matériel 1</a> <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab">Matériel 2</a> <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab">Matériel 3</a> <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab">Matériel 4</a> </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel">
                <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel">
                <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel">
                <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</p>
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel">
                <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Ils nous ont fait confiance</h2>
    <div class="swiper-container-wrapper swiper-col6" data-aos="fade">
      <div class="swiper-container text-center">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c1.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c2.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c3.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c4.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c5.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c6.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c7.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c8.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c9.png") %>" alt="" /></div>
          <div class="swiper-slide"><img src="<%= image_path("images_brailie/art/c10.png") %>" alt="" /></div>
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.swiper-container -->
      <div class="swiper-pagination gap-large"></div>
    </div>
    <!-- /.swiper-container-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="section-title text-center">Nous contacter</h2>
        <p class="lead text-center">Examples of standard form controls supported in an example form layout.</p>
        <div class="space40"></div>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="exemple@exemple.com">
          </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="name">Prénom et nom</label>
          <input type="text" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="space30"></div>
        <label for="status">Status</label><br/>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status1" name="status1" class="custom-control-input">
        <label class="custom-control-label" for="status1">Professionel</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status2" name="status1" class="custom-control-input">
        <label class="custom-control-label" for="status2">Particulier</label>
      </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="subject">Objet</label>
          <input type="text" class="form-control" id="subject" placeholder="Votre objet">
        </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="content">Message</label>
        <textarea class="form-control" rows="3" placeholder="Votre message"></textarea>
        </div>
        <div class="space30"></div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
</div>
