<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Articles</li>
    <li class="breadcrumb-item">
      <%= link_to 'Voir la page Blog du site', articles_path %>
    </li>
  </ol>

  <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <h2 class="section-title text-center">Mes articles</h2>
          <p align ="center"><%= link_to "Créer un nouvel article", new_dashboard_article_path, class:"btn btn-ice home-header-font wrap-title" %></p>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Créée le</th>
                    <th>Modifiée le</th>
                    <th>Statut</th>
                    <th>Voir</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                  </tr>
                </thead>
                  <% if @current_articles.length == 0 %>
                    <tr>
                      <td colspan="8"><center>Vous n'avez pas encore créé d'article ! Lancez-vous en cliquant sur le bouton "Créer un nouvel article"</center></td>
                  <%else%>
                  <% @articles.each do |article| %>
                    <%if article.admin == current_admin%>
                    <tr id ="article<%= article.id%>">
                      <td><%= article.title %>  </td>
                      <td><%= article.admin.pseudo %> </td>
                      <td><%= article.created_at.strftime("%d/%m/%Y") %> </td>
                      <td><%= article.updated_at.strftime("%d/%m/%Y") %> </td>

                      <%if article.published %>
                        <td class="online-bold">En ligne</td>
                      <%else%>
                        <td class="offline-fade">Hors ligne</td>
                      <%end%>

                      <td><%= link_to dashboard_article_path(article.id) do %>
                          <i class="fa fa-search fa-2x d-flex justify-content-center"></i>
                        <%end%>
                      </td>
                      <td><%= link_to edit_dashboard_article_path(article.id) do %>
                          <i class="fa fa-edit fa-2x d-flex justify-content-center green"></i>
                        <%end%>
                      </td>
                      <td><%= link_to dashboard_article_path(article.id), data: {confirm: "Êtes-vous sûr.e de vouloir supprimer cet article à tout jamais ?"}, method: :delete, remote: true do %>
                          <i class="fa fa-trash fa-2x d-flex justify-content-center red"></i>
                        <%end%>
                      </td>
                    </tr>
                  <%else%>
                  <%end%>
                <%end%>
              <%end%>
            </table>
          </div>
        </div>
      </div>

       <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <h2 class="section-title text-center">Les autres articles</h2>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Statut</th>
                    <th>Voir</th>
                  </tr>
                </thead>
                  <% @articles.each do |article| %>
                    <%unless article.admin == current_admin%>
                    <tr>
                      <td><%= article.title %>  </td>
                      <td><%= article.admin.pseudo %> </td>
                      <td><%= article.created_at.strftime("%d/%m/%Y") %> </td>
                      <td><%= article.updated_at.strftime("%d/%m/%Y") %> </td>

                      <%if article.published %>
                        <td class="online-bold">En ligne</td>
                      <%else%>
                        <td class="offline-fade">Hors ligne</td>
                      <%end%>

                      <td><%= link_to dashboard_article_path(article.id) do %>
                          <i class="fa fa-search fa-2x d-flex justify-content-center"></i>
                        <%end%>
                      </td>
                    </tr>
                  <%else%>
                  <%end%>
                <%end%>
            </table>
          </div>
        </div>
      </div>

    </div>
