<div class="content-wrapper">
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="blog classic-view">
            <div class="post">
              <h1 class="post-title text-center"><%=@article.title%></h1>
              <p class="text-center"><strong><%=@article.description%></strong></p>
              <div class="meta tags text-center"><span class="date">Ecrit le <%=@article.created_at.strftime("%d-%m-%Y")%></span><span class="author">Par <a href="#"><%= @article.admin.pseudo%></a></span>
              </div>
              <% if @article.image.attached?%>
                <figure class="mb-25"><%= image_tag @article.image, alt: 'miniature' %></figure>
              <%else%>
                <figure class="mb-25"><%= image_tag('realisations/fond.jpg', class:'', alt:'') %></figure>
              <%end%>
              <div class="post-content">
                <p><%=simple_format(@article.content)%></p>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.post -->
            <div class="divider-icon"><i class="fa fa-pencil"></i></div>
            <div class="row">
              <div class="col-md-4">
                <%if @article.admin.avatar.attached? %>
                <figure>
                  <%= image_tag @article.admin.avatar %>
                </figure>
                <%end%>
              </div>
              <!--/column -->
              <div class="col-md-8">
                <h4>Un article de <%= @article.admin.pseudo%></h4>
                <p><%=@article.admin.description%></p>
              </div>
              <!--/column -->
            </div>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.wrapper -->
      </div>
    </div>
  </div>
</div>
