<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="section-title mb-40 text-center"><%= t('.forgot_your_password') %></h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail3", placeholder:"Email"%>
            </div>
          </div><br>

          <div class="d-flex justify-content-center">
            <%= f.submit t('.send_me_reset_password_instructions'), class:"btn btn-teal" %>
          </div>
          <%= link_to  "Connexion", new_admin_session_path, class: "d-flex justify-content-center" %>
          <%= link_to  "Inscription", new_admin_registration_path, class: "d-flex justify-content-center" %>
        <% end %>
      </div>
    </div>
  </div> 
</div>