<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="blog classic-view">
          <div class="post">
            <h1 class="post-title text-center"><a href="blog-post.html"><%=@event.title%></a></h1>
            <p class="text-center"><%=@event.description%></p>
            <div class="meta text-center"><span class="date"><%=@event.created_at.to_date%></span><span class="author">By <a href="#"><%= @event.admin.email%></a></span><span class="comments"><a href="#">2</a></span><span class="category"><a href="#">Simple</a></span></div>
            <figure class="mb-25">
                  <%= image_tag('events/event11_header.jpg', class:'', alt:'') %>
            </figure>
            <div class="post-content">
              <p><%=@event.content%></p>
              <p><%=@event.content%></p>
              <div class="space10"></div>
              <blockquote class="icon icon-left">
                <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
                <footer class="blockquote-footer">Pulp fiction</footer>
              </blockquote>
              <div class="space10"></div>
              <h3>Sit Vulputate Bibendum Purus</h3>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <div class="space10"></div>
              <div class="tiles light-gallery">
                <div class="items row text-center">
                  <div class="item col-md-6">
                    <figure class="overlay overlay2">
                      <%= link_to image_path('events/event11.jpg') do %>
                          <%= image_tag('events/event11.jpg', class:'', alt:'') %>
                      <%end%>
                    </figure>
                  </div>
                  <!--/column -->
                  <div class="item col-md-6">
                    <figure class="overlay overlay2">
                      <%= link_to image_path('events/event11.jpg') do %>
                          <%= image_tag('events/event11.jpg', class:'', alt:'') %>
                      <%end%>
                    </figure>
                  </div>
                  <!--/column -->
                </div>
                <!--/.row -->
              </div>
              <!-- /.tiles -->
              <div class="clearfix"></div>
              <div class="space20"></div>
              <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
              <div class="meta tags mb-10 text-center"><a href="#">journal</a>, <a href="#">illustration</a>, <a href="#">design</a>, <a href="#">daily</a></div>
              <ul class="social social-mute social-s text-center">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
              <!-- /.social -->
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.post -->
          <div class="divider-icon"><i class="fa fa-pencil"></i></div>
          <div class="post-nav-wrapper">
            <div class="post-nav prev">
              <div class="meta"><i class="fa fa-angle-double-left"></i>Previous event</div>
              <h4><a href="#">Cursus Quam Ullamcorper Cras Ornare Etiam Aenean</a></h4>
            </div>
            <div class="post-nav next">
              <div class="meta">Next Event<i class="fa fa-angle-double-right"></i></div>
              <h4><a href="#">Fringilla Ligula Consectetur Ridiculus Vulputate</a></h4>
            </div>
          </div>
          <!-- /.post-nav -->
          <div class="divider-icon"><i class="fa fa-pencil"></i></div>
          <div class="row">
            <div class="col-md-4">
              <figure>
                <img alt="" src="style/images/art/author.jpg" />
              </figure>
            </div>
            <!--/column -->
            <div class="col-md-8">
              <h4>About <%= @event.admin.email%></h4>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac.</p>
              <ul class="social social-color social-s">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="divider-icon"><i class="fa fa-pencil"></i></div>
          <div id="comments">
            <h4>4 Comments on "Tellus Adipiscing Nibh Mattis Ligula"</h4>
            <ol id="singlecomments" class="commentlist">
              <li>
                <div class="message">
                  <div class="user icon icon-round"><img alt="" src="style/images/art/u1.jpg" /></div>
                  <div class="message-inner">
                    <div class="info">
                      <h6><a href="#">Connor Gibson</a></h6>
                      <div class="meta"> <span class="date">January 14, 2010</span><span class="reply"><a href="#">Reply</a></span> </div>
                    </div>
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="message">
                  <div class="user icon icon-round"><img alt="" src="style/images/art/u2.jpg" /></div>
                  <div class="message-inner">
                    <div class="info">
                      <h6><a href="#">Nikolas Brooten</a></h6>
                      <div class="meta"> <span class="date">February 21, 2010</span><span class="reply"><a href="#">Reply</a></span> </div>
                    </div>
                    <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
                  </div>
                </div>
                <ul class="children">
                  <li class="bypostauthor">
                    <div class="message">
                      <div class="user icon icon-round"><img alt="" src="style/images/art/u3.jpg" /></div>
                      <div class="message-inner bypostauthor">
                        <div class="info">
                          <h6><a href="#">Pearce Frye</a></h6>
                          <div class="meta"> <span class="date">February 22, 2010</span><span class="reply"><a href="#">Reply</a></span> </div>
                        </div>
                        <p>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit non.</p>
                      </div>
                    </div>
                    <ul class="children">
                      <li>
                        <div class="message">
                          <div class="user icon icon-round"><img alt="" src="style/images/art/u2.jpg" /></div>
                          <div class="message-inner">
                            <div class="info">
                              <h6><a href="#">Nikolas Brooten</a></h6>
                              <div class="meta"> <span class="date">April 4, 2010</span><span class="reply"><a href="#">Reply</a></span> </div>
                            </div>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <div class="message">
                  <div class="user icon icon-round"><img alt="" src="style/images/art/u4.jpg" /></div>
                  <div class="message-inner">
                    <div class="info">
                      <h6><a href="#">Lou Bloxham</a></h6>
                      <div class="meta"> <span class="date">May 03, 2010</span><span class="reply"><a href="#">Reply</a></span> </div>
                    </div>
                    <p>Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <!-- /#comments -->
          <div class="divider-icon"><i class="fa fa-pencil"></i></div>
          <h4>Would you like to share your thoughts?</h4>
          <p>Your email address will not be published. Required fields are marked *</p>
          <div class="space20"></div>
          <form class="comment-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name*">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email*">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Website">
            </div>
            <div class="form-group">
              <textarea name="textarea" class="form-control" rows="5" placeholder="Enter your comment here..."></textarea>
            </div>
            <button type="submit" class="btn btn-full-rounded">Submit</button>
          </form>
          <!-- /.comment-form -->
        </div>
        <!-- /.blog -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="instagram-wrapper">
    <div class="swiper-container-wrapper">
      <div class="swiper-container swiper-instagram2">
        <div id="instafeed4" class="swiper-wrapper"></div>
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.swiper-container-wrapper -->
    <a href="https://www.instagram.com/urbanshots/" target="_blank" class="btn btn-full">Follow me @ Instagram</a> </div>
  <!-- /.instagram-wrapper -->
</div>
<!-- /.wrapper -->
