<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="section-title mb-40 text-center">Editer votre profil</h2>
        <div class="space40"></div>

        <!-- Form for active_storage -->
        <center> 
          <%if @admin.avatar.attached?%>
          <p class="lead text-center">Votre photo de profil</p>
          <%= image_tag @admin.avatar.variant(resize: "150x150") %> <br><br>
          <%= link_to 'Changer de photo', dashboard_admin_avatar_path(@admin), method: :delete, class: 'btn btn-ice home-header-font' %>  
          <%else%>
          <p class="lead text-center">Ajouter une photo de profil</p>

          <%= form_tag dashboard_admin_avatars_path(@admin), multipart: true do %>
          <%= file_field_tag :avatar %>
          <%= submit_tag "Ajouter", class: 'btn btn-ice home-header-font' %>
          <% end %>
          <p>=== Veuillez choisir une photo de profil ===</p>
          <%end%>
        </center>
        <!-- /Form for active_storage -->

        <div class="space90"></div>

        <p class="lead text-center">Pour éditer les informations, remplir le formulaire ci-dessous</p>
        <%= form_with model: @admin, url: dashboard_admin_path, local: true do |f| %>

        <div class="form-group row">
          <label class="col-sm-2">Prénom</label>
          <div class="col-sm-10">
            <%= f.text_field :first_name, class:"form-control" %>
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-sm-2">Nom</label>
          <div class="col-sm-10">
            <%= f.text_field :last_name, class:"form-control" %>
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-sm-2">Pseudo</label>
          <div class="col-sm-10">
            <%= f.text_field :pseudo, class:"form-control",  placeholder: "Pseudo" %>
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-sm-2">Description</label>
          <div class="col-sm-10">
            <%= f.text_area :description, class:"form-control",  placeholder: "Description" %>
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-sm-2">Specialité</label>
          <div class="col-sm-10">
            <%= f.text_field :speciality, class:"form-control",  placeholder: "Specialité" %>
            </div>
          </div>  
          
          <% if @admin.display == false %>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :display, {class:"custom-control-input", id:"customCheck1"}, true, false %>
              <label class="custom-control-label" for="customCheck1">Figurer dans la partie Équipe de la page d'accueil</label>
            </div>
          </div>
          <%else%>
           <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :display, {class:"custom-control-input", id:"customCheck1"}, false, true %>
              <label class="custom-control-label" for="customCheck1">Ne pas figurer dans la partie Équipe de la page d'accueil</label>
            </div>
          </div>
          <%end%>
          <div class="space30"></div>
          <div class="text-center">
            <%=f.submit "Éditer", class:"btn btn-full-rounded btn-teal"%>
          </div>
        <% end %>

      </div>
    </div>
    <!-- /column -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
