
  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title section-title-upper text-center">Nos réalisations</h2>
      <div class="space30"></div>
      <div id="slide-portfolio">
        <div class="tabs-wrapper filtered">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab1-1">Category 1</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab1-2">Category 2</a> </li>
          </ul>
          <!-- /.nav-tabs -->

          <div class="space10"></div>
          <div class="tab-content">
            <div class="tab-pane fade pb-0 show active" id="tab1-1">


            <% @projects.each_with_index do |project, index| %>

            	<% if index%2 == 0 %>
	             <!--/.row 1-->
	              <div class="row no-gutter block-wrapper arrowed">
	                <div class="col-md-6 block order-md-2">
	                  <figure><%= image_tag project.thumbnail, alt: 'miniature' %></figure>
	                </div>
	                <!--/column -->
	                <div class="col-md-6 block text-center">
	                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
	                    <h3 class="text-uppercase"><%=project.title%></h3>
	                    <p class="mb-30"><%=project.description%></p>
	                    <div class="d-inline-block">
                        <%= link_to "En savoir plus", project_path(project.id), class: "more" %>
                      </div>
	                  </div>
	                </div>
	                <!--/column -->
	              </div>
	              <!--/.row -->

	           <%else%>
	              <!--/.row 2-->
	              <div class="row no-gutter block-wrapper arrowed">
	                <div class="col-md-6 block">
                    <figure><%= image_tag project.thumbnail, alt: 'miniature' %></figure>
	                </div>
	                <!--/column -->
	                <div class="col-md-6 block text-center">
	                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
	                    <h3 class="text-uppercase"><%=project.title%></h3>
	                    <p class="mb-30"><%=project.description%></p>
	                    <div class="d-inline-block">
                        <%= link_to "En savoir plus", project_path(project.id), class: "more" %>
                      </div>
	                  </div>
	                </div>
	                <!--/column -->
	              </div>
	              <!--/.row -->
             <%end%>
           <%end%>

            <!--/.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.tabs-wrapper -->
      </div>
      <!--/#slide-portfolio -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</div>
