<div class="container-fluid">
  <br>
    <div class="card">
      <div class="card-header">
        <h2 class="section-title mb-40 text-center">Consulter les messages</h2>
        
      </div>
    
      <div class="card-body">
        <div class="card-text">
          <table class="table table-striped table-sm">
            <tr>
              <th>Email</th>
              <th>Nom et prénom</th>
              <th>Status</th>
              <th>Date</th>
              <th>Objet</th>
              <th>Consulter</th>
            </tr>
            <% @contacts.each do |contact| %>
            <tr>            
              <td><%= contact.email %></td>
              <td><%= contact.name %></td>
              <%if contact.status %>
                  <td>Professionnel</td>
                <%else%>
                  <td>Particulier</td>
                  <%end%>
              <td><%= contact.created_at.strftime("%d/%m/%Y") %> </td>    
              <td><%= contact.content %> </td>                   
              
              <td><%= link_to "Lire", dashboard_contact_path(contact.id), class:"btn btn-info" %></td>
            </tr>
            <%end%>      
          </table>
      </div>
    </div>
  </div>
</div>