<div class="wrapper gray-wrapper">
      <% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n'avons pas réussi à créer l'actualité pour la (ou les) raison(s) suivante(s) :</p>
          <ul>
            <% @event.errors.full_messages.each do |event| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>	
      </div>
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="section-title text-center">Nouvelle actualité</h2>
          <p class="lead text-center">Remplir le formulaire ci-dessous</p>
          <div class="space40"></div>
          <h6><b>Titre de l'actualité'b></h6>   
            <%= form_with model: @event, url: dashboard_events_path, local: true do |f| %>
            <%= f.text_field :title, class:"form-control", placeholder: "Titre" %>
            <div class="space30"></div>
            <h6><b>Description<b></h6>
            <%= f.text_area :description, class:"form-control", placeholder: "Description (en 1 phrase)" %>
            <div class="space30"></div>
            <h6><b>Contenu<b></h6>
            <%= f.text_area :content, class:"form-control", placeholder: "Contenu" %>
            <div class="space30"></div>
            
            <%= f.submit "Créer l'actualité',  class: 'btn btn-oasis' %>
             <% end %>   
          <div class="space30"></div>          
        </div>
    </div>
</div>