<div class="wrapper gray-wrapper">
  <% if @event.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p class="home-header-font">Nous n'avons pas réussi à créer l'actualité pour la (ou les) raison(s) suivante(s)
        :</p>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

      </ul>
  <% end %>
  </div>
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="section-title text-center">Création d'une actualité</h2>
        <p class="home-header-font">Remplir le formulaire ci-dessous puis cliquer sur Enregistrer les informations.</p>
        <div class="space40"></div>
        <h6><b>Titre de l'actualité</b></h6>
        <%= form_with model: @event, url: dashboard_events_path, local: true do |f| %>
          <%= f.text_field :title, class: "form-control", placeholder: "Titre" %>
          <div class="space30"></div>
          <h6><b>Description rapide</b></h6>
          <%= f.text_area :description, class: "form-control", placeholder: "Description (en 1 phrase)" %>
          <div class="space30"></div>
          <h6><b>Détails de l'actualité</b></h6>
          <%= f.text_area :content, class: "form-control", placeholder: "Détails", :rows => 6 %>
          <div class="space30"></div>
          <h6><b>Adresse de l'événement (si nécessaire)</b></h6>
          <%= f.text_area :location, class: "form-control", placeholder: "Adresse" %>
          <div class="space30"></div>
          <h6><b>Date et heure de l'événement (si nécéssaire)</b></h6>
          <%= f.text_field :date, class: "form-control", placeholder: "Date et heure" %><br>
          <br>

          <%= f.submit "Enregistrer les informations", class: "btn btn-ice home-header-font" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
