<div class="content-wrapper">
  <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg center justify-content-between">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand d-lg-none d-xl-none"><a href="#"><img src="#" srcset="#" alt=""/></a></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        <div class="navbar-nav-wrapper">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="<%= root_path %>">L'association</a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li class="nav-item"><a class="dropdown-item" href="#association">Qui sommes-nous ?</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#mission">Nos missions</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#team">L'équipe</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#realisation">Nos réalisations</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#equipment">Notre matériel</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="<%= projects_path %>">Réalisations</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Actualités</a></li>
          </ul>
        </div>
        <div class="navbar-brand d-none d-lg-block"><a href="<%= root_path %>"><img src="#" srcset="<%= image_path("images_brailie/logo-light.png") %> 1x, <%= image_path("images_brailie/logo-light.png") %> 2x" alt="" /></a></div>
        <div class="navbar-nav-wrapper">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="<%= articles_path %>">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            <% if admin_signed_in? %>
            <li class="nav-item dashboard-btn"><a class="nav-link badge badge-pill bg-forest dashboard-text" <%= link_to 'Espace Admin', admin_path(current_admin) %> </a> </li>
            <%end%>
          </ul>
        </div>
        <!-- /.navbar-nav-wrapper -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="<%= image_path("header/header1.jpg") %>"><img src="<%= image_path("header/header1.jpg") %>" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: -0.5px;">Beautiful Gardens</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white"
			data-x="center"
			data-y="middle"
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9;" href="#">View Images</a> </li>
        <li data-transition="fade" data-thumb="<%= image_path("header/header2.jpg") %>"><img src="<%= image_path("header/header2.jpg") %>" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: -0.5px;">Macro Shots</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white"
			data-x="center"
			data-y="middle"
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9;" href="#">View Images</a> </li>
        <li data-transition="fade" data-thumb="<%= image_path("header/header3.jpg") %>"><img src="<%= image_path("header/header3.jpg") %>" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center"
	        data-x="center"
			data-y="middle"
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9; letter-spacing: -0.5px;">Stunning Perspectives</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white"
			data-x="center"
			data-y="middle"
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0"
			data-endslide="3"
			data-responsive="on"
			data-responsive_offset="on"
			style="z-index: 9;" href="#">View Images</a> </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
