<div class="content-wrapper">
  <nav class="navbar solid nav-wrapper-dark inverse-text navbar-expand-lg center">
    <div class="container">
      <div class="navbar-header">
      	  <%= link_to "Espace Admin", dashboard_admin_path(current_admin), class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
        <div class="navbar-brand d-lg-none d-xl-none"><%= link_to root_path do %><%= image_tag('logos/logo1.png', class:'', alt:'') %><%end%></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        
        <div class="navbar-nav-wrapper">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><%= link_to 'Revenir au site', root_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Se Déconnecter', destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
          </ul>
        </div>
        <!-- /.navbar-nav-wrapper -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
</div>